.mato{
  width: 100vw;
  height: 94.3vh;
}

.ca2{
  width: 240px;
  height: 200px;
  margin-left: 360px;
  margin-top: -43vh;
}

.ca1{
  width: 240px;
  height: 200px;
  margin-left: 360px;
  margin-top: -43vh;
}
