
.registo{
  margin-top: 12%;
  text-align: center;
  width: 250px;
  height: 325px;
  margin-left: 43vw;
  margin-right: 43vw;
}

.registar{
  background-color: brown;
  color: white;
}

p{
  font-size: 40px;
}
