<div class="novo">
  <p>NEW GUY</p>
    <input type="text" placeholder="Nome" name="Nome"><br><br>
    <input type="text" placeholder="Atk" name="Atk"><br><br>
    <input type="text" placeholder="isMonster" name="isMonster"><br><br>
    <input type="text" placeholder="Int" name="Int"><br><br>
    <input type="text" placeholder="Vida" name="Vida"><br><br>
    <input type="text" placeholder="Username" name="username"><br><br>
    <input type="text" placeholder="Password" name="psw"><br><br><br>
    <button class="criar" type="submit">Create</button>
</div>
